<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
    <head>
        <meta charset="UTF-8">
        <title>Editar cliente</title>
    </head>

    <body>
        <section th:fragment="editarCliente">
            <form th:action="@{/guardar}" th:object="${persona}" method="post" class="was-validated">
                <input type="hidden" name="idPersona" th:field="*{idPersona}">

                <section th:replace="~{layout/botonesEditar :: botonesEditar}"></section>
            </form>
        </section>
    </body>
</html>