<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
    <head>
        <meta charset="UTF-8">
        <title>Plantilla</title>
    </head>
    <body>
        <header th:fragment="header">
            <h1 th:text="#{plantilla.titulo}"></h1>
        </header>

        <footer th:fragment="footer">
            <div>
                <br/>
                <form method="post" th:action="@{/logout}">
                    <b>User: </b> <span sec:authentication="name">Usuario actual</span> |
                    <b>Roles: </b> <span sec:authentication="principal.authorities">Roles</span> |
                    <a href="#" onclick="this.parentNode.submit();">[[#{accion.logout}]]</a>
                </form>
                <br/>
                <a th:href="@{/(lang=es)}">ES</a> |
                <a th:href="@{/(lang=en)}">EN</a> |
                <span>[[#{plantilla.pie-pagina}]]</span>
            </div>
        </footer>
    </body>
</html>