<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Control Clientes</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <a th:href="@{/agregar}">Crear persona</a>
        <br/>
        <br/>
        <div th:if="${personas != null and !personas.empty}">
            <table border="1">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                <tr th:each="persona : ${personas}">
                    <td th:text="${persona.nombre}"></td>
                    <td th:text="${persona.apellido}"></td>
                    <td th:text="${persona.email}"></td>
                    <td th:text="${persona.telefono}"></td>
                    <td><a th:href="@{/editar/} + ${persona.idPersona}" th:text="Editar"></a></td>
                    <!--Opcion 1-->
                    <!--<td><a th:href="@{/eliminar/} + ${persona.idPersona}" th:text="Eliminar"></a></td>-->
                    <!--Opcion 2 (Query param)-->
                    <td><a th:href="@{/eliminar(idPersona=${persona.idPersona})}" th:text="Eliminar"></a></td>
                </tr>
            </table>
        </div>
        <div th:if="${personas == null or personas.empty}">
            La lista de personas esta vacia
        </div>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>