<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
    <head th:replace="~{layout/plantilla :: head}">
        <title>Control Clientes</title>
    </head>

    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>

        <section th:replace="~{layout/botonesAgregar :: botonesAgregar}"></section>
        <!--
        <section th:replace="~{layout/agregarCliente :: agregarCliente}"></section>
        <section th:replace="~{layout/listadoClientes :: listadoClientes}"></section>
        -->
        <footer th:replace="~{layout/plantilla :: footer}"></footer>


        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/agregar}" th:text="#{persona.crear}"></a>
        <br sec:authorize="hasRole('ROLE_ADMIN')"/>
        <br sec:authorize="hasRole('ROLE_ADMIN')"/>
        <div th:if="${personas != null and !personas.empty}">
            <table border="1">
                <tr>
                    <th>[[#{persona.nombre}]]</th>
                    <th>[[#{persona.apellido}]]</th>
                    <th>[[#{persona.email}]]</th>
                    <th>[[#{persona.telefono}]]</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">[[#{accion.editar}]]</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">[[#{accion.eliminar}]]</th>
                </tr>
                <tr th:each="persona : ${personas}">
                    <td th:text="${persona.nombre}"></td>
                    <td th:text="${persona.apellido}"></td>
                    <td th:text="${persona.email}"></td>
                    <td th:text="${persona.telefono}"></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/editar/} + ${persona.idPersona}">[[#{accion.editar}]]</a></td>
                    <!--Opcion 1-->
                    <!--<td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/eliminar/} + ${persona.idPersona}">[[#{accion.eliminar}]]</a></td>-->
                    <!--Opcion 2 (Query param)-->
                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/eliminar(idPersona=${persona.idPersona})}">[[#{accion.eliminar}]]</a></td>
                </tr>
            </table>
        </div>
        <div th:if="${personas == null or personas.empty}">
            [[#{persona.lista-vacia}]]
        </div>

    </body>
</html>